@mixin FlexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{

    #img{
    @include FlexMid();
    margin-top: -40%;
    transform: scale(0.4);
    #diff1, #diff2{
            position: relative;
            width: 1160px;
            height: 1506px;
        }
    }
    .cercle1, .cercle2, .cercle3, .cercle4, .cercle5{
        position: absolute;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        border: 6px solid red;
        opacity: 0;
    
    }

    .cercle1, #cercle1-2{
        top: 250px;    
    }
    .cercle1{
        left: -70px;
    }

    #cercle1-2{
        left: 1100px;
    }
    .cercle2{
    top: 7%;
    left: 7%;
    }

    .cercle3{
        top: 32%;
        left: 5%;
    }

    .cercle4{
        top: 45%;
        left: 31%;
    }
    .cercle5{
        top: 49%;
        left: 12%;
    }
}